@model GestionPPM.Entidades.Modelo.Menu

<link rel="stylesheet" type="text/css" href="~/Content/themes/default/tree.css">
<link href="~/Content/themes/default/menu.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script>
@* ADJUNTAR ARCHIVOS MANUAL USUARIO *@
<script>
    var urlAccionCargarData = '@Url.Action("AdjuntarArchivoManualUsuario", "Menu", new { idMenu = Model.id_menu})';
    var urlAccionEliminarArchivoAdjunto = '@Url.Action("EliminarArchivoManualUsuario", "Menu")';

    $(document).ready(function () {
        $("#seccion-titulo-modal").text('@Html.Raw(ViewBag.TituloModal)');
    });

    function myLoadFilter(data, parent) {
            debugger
			var state = $.data(this, 'tree');

            function setData() {
                debugger
		    	var serno = 1;
		        var todo = [];
		        for(var i=0; i<data.length; i++){
		            todo.push(data[i]);
		        }
		        while(todo.length){
		            var node = todo.shift();
		            if (node.id == undefined){
		            	node.id = '_node_' + (serno++);
		            }
		            if (node.children){
		                node.state = 'closed';
		                node.children1 = node.children;
		                node.children = undefined;
		                todo = todo.concat(node.children1);
		            }
		        }
		        state.tdata = data;
		    }
            function find(id) {
                debugger
		    	var data = state.tdata;
		    	var cc = [data];
		    	while(cc.length){
		    		var c = cc.shift();
		    		for(var i=0; i<c.length; i++){
		    			var node = c[i];
		    			if (node.id == id){
		    				return node;
		    			} else if (node.children1){
		    				cc.push(node.children1);
		    			}
		    		}
		    	}
		    	return null;
		    }

		    setData();

		    var t = $(this);
		    var opts = t.tree('options');
		    opts.onBeforeExpand = function(node){
	    		var n = find(node.id);
	    		if (n.children && n.children.length){return}
		    	if (n.children1){
		    		var filter = opts.loadFilter;
		    		opts.loadFilter = function(data){return data;};
		    		t.tree('append',{
		    			parent:node.target,
		    			data:n.children1
		    		});
		    		opts.loadFilter = filter;
		    		n.children = n.children1;
		    	}
		    };
			return data;
    }


    $('#file-upload').change(function () {
        var nombreArchivo = $('#file-upload')[0].files[0].name;
        $('.custom-file-upload').text(nombreArchivo);
    });

        $('#adjuntar-archivo').click(function () {
            debugger
            var archivo = $("#file-upload").get(0);

            if (archivo.files.length === 0) {
                console.log("No se seleccionaron archivos.");
                return;
            }

            AdjuntarArchivo(archivo, urlAccionCargarData, "seccion-archivos-adjuntos", "archivos-manual-usuario");
        });

</script>


<div class="row">
    <div class="col-sm-9">
        <label title="Cargar archivo" for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Seleccionar Archivo
        </label>
        <input id="file-upload" type="file" accept=".pdf" />
    </div>
    <div class="col-sm-3">
        <input style="width: 100%; background-color:#00AD8E;border-color: #00AD8E;" class="btn btn-primary" type="submit" id="adjuntar-archivo" value="Adjuntar" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="progressbar-5">
            <div class="progress-label">
            </div>
        </div>
    </div>
</div>


