@model IEnumerable<GestionPPM.Entidades.Modelo.ListadoProducto>
@{
    var acciones = (List<string>)ViewBag.AccionesUsuario;
}

@(Html
                .Grid(Model)
                .Build(columns =>
                {
                    columns.Add(model => model.Id).Titled("Id");
                    columns.Add(model => model.Bodega).Titled("Bodega");
                    columns.Add(model => model.CodigoBodega).Titled("Código Bodega");
                    columns.Add(model => model.Tarifario).Titled("Sublínea Negocio");
                    columns.Add(model => model.NombreProducto).Titled("Nombre Producto");
                    columns.Add(model => model.CodigooProducto).Titled("Código Producto");
                    columns.Add(model => model.Estado).Titled("Estado");
                    columns.Add(model => "<button style='background-color:#00AD8E;border-color: #00AD8E;' class='btn btn-success " + Auxiliares.GestionBontonesGrid(acciones, "ACCIONES-SIST-01-EDIT-FORM") + "' onclick='_GetCreate({id:" + model.Id + "},\"" + @Url.Action("_Formulario", "Producto") + "\", true);' id='editar' data-id=\"" + model.Id + "\"><span class='glyphicon glyphicon-pencil' aria-hidden='true'></span></button>" +
                    "<button onclick='ConfirmarCambioEstado(" + model.Id + ",\"" + @Url.Action("Eliminar", "Producto") + "\",\"" + model.Estado + "\");' style='background-color:#FF5E00;border-color:#FF5E00;' class='btn btn-danger " + Auxiliares.GestionBontonesGrid(acciones, "ACCIONES-SIST-01-ELIMINAR") + "' id='eliminar' data-id=\"" + model.Id + "\"><span class='glyphicon glyphicon-random' aria-hidden='true'></span></button>").Encoded(false);
                })
                .Empty(Mensajes.MensajeNoDataListado)
                .Id("grid-Producto")
                .Pageable(pager =>
                {
                    pager.PagesToDisplay = 5;
                    pager.RowsPerPage = 10;
                })
                .Filterable()
                .Sortable())

