<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="50000000" />    
    <add key="RepositorioDocumentos" value="C:\PUBLIC" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="segmento" value="P2P" />
    <add key="segmentoComercial" value="GESTOR COMERCIAL" />
    <add key="codProducto" value="PTP010" />
    <add key="codigoCategoria" value="7" />
    <add key="codigoCategoriaComercial" value="CLIENTES PERMANENTES" />
    <!--WS P2P-->
    <add key="wsFacturas" value="http://172.19.3.72/p2ppruebas/api/factura" /> 
    <add key="wsNotaCredito" value="http://172.19.3.72/p2ppruebas/api/notacredito" />
    
    <!--WS COMERCIAL-->
    <add key="wsCotizaciones" value="http://172.19.3.72/gestorcomercialpruebas/api/cotizaciones" />
    <add key="wsFacturasPresupuestos" value="http://172.19.3.72/gestorcomercialpruebas/api/facturaPresupuestos" />

    <!--<add key="wsFacturas" value="http://localhost:7466/api/factura" />
    <add key="wsNotaCredito" value="http://localhost:7466/api/notacredito" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime maxRequestLength="20480" executionTimeout="180" targetFramework="4.6.1" />
    <globalization uiCulture="en-GB" culture="en-GB" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.2" newVersion="4.5.3.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.pdfa" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="RouteJs" />
      <add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
      <remove name="WebHelpers" />
      <add name="WebHelpers" verb="GET" path="WebHelpers.axd" type="WebHelpers.Mvc5.Enum.EnumHandler" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <!--
    exposeAllRoutes: Sets whether to expose all routes to the site. 
    If true, all routes will be exposed unless explicitly hidden using the [HideRoutesInJavaScript] 
    attribute on the controller. If false, all routes will be hidden unless explicitly exposed 
    using the [ExposeRoutesInJavaScript] attribute.

    lowerCaseUrls: Sets whether urls should be converted to lowercase.
    If true, urls will be converted to lowercase while preserving route value placeholders.
    Example: "Posts/{postKey}/Edit" -> "posts/{postKey}/edit"
  -->
  <routeJs exposeAllRoutes="true" lowerCaseUrls="false" />
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="con" connectionString ="Data Source=172.16.36.18;User ID=sa;Password=saSql;Initial catalog=GestionPPM" providerName="System.Data.SqlClient"/>
    <add name="GestionPPMEntities" connectionString="metadata=res://*/Modelo.GestionPPM.csdl|res://*/Modelo.GestionPPM.ssdl|res://*/Modelo.GestionPPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18;initial catalog=GestionPPM;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PlaceToPay" connectionString="metadata=res://*/Modelo.PlaceToPay.PlaceToPay.csdl|res://*/Modelo.PlaceToPay.PlaceToPay.ssdl|res://*/Modelo.PlaceToPay.PlaceToPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18;initial catalog=GestionPPM;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="con" connectionString ="Data Source=172.19.3.87;User ID=sa;Password=saSql;Initial catalog=GestionPPM" providerName="System.Data.SqlClient"/>  
  <add name="GestionPPMEntities" connectionString="metadata=res://*/Modelo.GestionPPM.csdl|res://*/Modelo.GestionPPM.ssdl|res://*/Modelo.GestionPPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.87;initial catalog=GestionPPM;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" layout="------------------------------------------- ${level} (${longdate}) -------------------------------------------${newline} Call Site: ${callsite}${newline} Exception Type: ${exception:format=Type}${newline} Exception Message: ${exception:format=Message}${newline} Stack Trace: ${exception:format=StackTrace}${newline} Additional Info: ${message}${newline}" fileName="${basedir}/LOGS/gestion_ppm-log-${shortdate}.log" archiveFileName="${basedir}/LOGS/archive/app-log.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" deleteOldFileOnstartup="false" archiveAboveSize="10240" maxArchiveFiles="31" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" />
      <!-- local file logger -->
    </rules>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
   
</configuration>