@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
}

<div class="content" style="padding-top: 250px;padding-bottom: 250px;">
    <br />
    <span style="padding-left: 340px; padding-right: 340px; "><img src="~/Content/img/LogoInicial.png" width="60%" /></span>
</div>
 

<script>
    $(document).ready(function () {
        // Display an info toast with no title
        //toastr.warning('La aplicación se encuentra en pruebas.')
    })

</script>